<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{public/head.html::head(title='关于我',item='')}">
<body>

<!--导航-->
<nav th:replace="~{public/navBar.html::navBar(5)}"></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">

        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img th:src="@{/images/nagisa.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">该网站使用了10天建造成功，跟着视频进行边学习，边搭建，熟悉SpringBoot的使用</p>
                    <p class="m-text">热爱编程，喜欢音乐，正在努力学习中......</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic   label">编程</div>
                    <div class="ui orange basic   label">足球</div>
                    <div class="ui orange basic   label">动漫</div>
                    <div class="ui orange basic   label">音乐</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Spring</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringMVC</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="m-text ui qq circular icon button" data-content="729229951"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <span class="m-text">这里作者还没决定好放什么......</span>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="~{public/footer.html::footer}"></footer>

<!--script引入-->
<th:block th:replace="~{public/script.html::script(item='')}"></th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>
</body>
</html>