<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{public/head.html::head(title='分类',item='')}">
<body>

<!--导航-->
<nav th:replace="~{public/navBar.html::navBar(2)}"></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    <!--数组工具，用来获取集合长度-->
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}">
                    14 </h2> 个
                </div>
            </div>
        </div>

        <!--所有的分类-->
        <div class="ui attached segment m-padded-tb-large">
            <div th:each="type : ${types}" class="ui labeled button m-margin-tb-tiny" style="margin-right: 10px">
                <a th:text="${type.name}" th:href="@{/types/{id}(id=${type.id})}"
                   class="ui basic label"
                   th:classappend="${activeTypeId==type.id}? 'teal'"
                >思考与感悟</a>
                <div th:text="${#arrays.length(type.blogs)}"
                     class="ui basic left pointing label"
                     th:classappend="${activeTypeId==type.id}? 'teal'">24
                </div>
            </div>
        </div>

        <!--博客-->
        <div class="ui top attached teal segment">
            <!--显示的博客体-->
            <div th:each="blog : ${page.content}" class="ui padded vertical segment m-padded-tb-large">
                <div class="ui  middle aligned mobile reversed stackable grid">
                    <!--博客描述部分-->
                    <div class="ten wide column">
                        <h3 class="ui header">
                            <a th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}"
                               class="m-black" target="_blank">标题</a>
                        </h3>
                        <!--可以通过 “| |” 的格式，拼接内容-->
                        <p th:text="|${blog.description}......|" class="m-text">
                            文本内容
                        </p>
                        <div class="ui stackable grid">

                            <!--博客描述下方的作者信息部分-->
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <!--根据数据库中获取头像信息，昵称，更新日期，访问数量-->
                                        <img th:src="@{${blog.user.avatar}}" class="ui avatar image">
                                        <div class="content">
                                            <a th:text="${blog.user.nickname}" href="#"
                                               class="header">戴辰</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> <span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" th:text="${blog.type.name}"
                                   class="ui teal basic label m-padded-tiny m-text-thin">分类名称</a>
                            </div>
                        </div>
                    </div>

                    <!--首图部分-->
                    <div class="six wide column">
                        <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <!--获取数据库中的首图链接-->
                            <img th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--上一页,下一页-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{'/types/'+${activeTypeId}(page=${page.number}-1)}" th:unless="${page.first}"
                       class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:href="@{'/types/'+${activeTypeId}(page=${page.number}+1)}" th:unless="${page.first}"
                       class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="~{public/footer.html::footer}"></footer>

<!--script引入-->
<th:block th:replace="~{public/script.html::script(item='')}"></th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>