<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{public/head.html::head(title='404',item='')}">
</head>
<body>

<!--导航-->
<nav th:replace="~{public/navBar.html::navBar(0)}"></nav>

<br>
<br>
<br>

  <div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge" >
      <div class="ui container">
        <h2>404</h2>
        <p>对不起，你访问的资源不存在</p>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<!--footer-->
<footer th:replace="~{public/footer.html::footer}"></footer>
</body>
</html>